/*-------------------------------------------------------- Global Styling (adjustable with JS later) */
:root {
    --main-bg-color: rgb(56, 71, 67);
    --main-hover-color: rgb(239, 197, 8);
    --main-selected-color: rgb(226, 64, 14);
    --main-selection-color: rgb(239, 197, 8);
    --main-selection-text-color: rgb(255, 255, 255);
}

/* Selection Color */
::selection {
    color: var(--main-selection-text-color);
    background-color: var(--main-selection-color);
}

::-moz-selection {
    color: var(--main-selection-text-color);
    background-color: var(--main-selection-color);
}

/*-------------------------------------------------------- Body Styling */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

/*-------------------------------------------------------- Header Styling */
header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: color 0.15s ease, transform 0.1s ease-in-out;
}

nav ul li a:hover {
    color: var(--main-hover-color);
    transform: scale(1.4);
}

nav ul li a.active {
    color: var(--main-selected-color);
    transform: scale(1.4);
}

/*-------------------------------------------------------- Button Card Styling */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Styling for individual button cards */
.button-card {
    padding: 25px 50px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
    margin: 1px;
    flex: 1 1 100%;
    max-width: 210px;
    background-color: #ccc;
}

/* Hover effect for button cards */
.button-card:hover {
    background-color: var(--main-hover-color);
    transform: scale(1.03);
}

.button-card.active {
    background-color: var(--main-selected-color);
    color: white;
    transform: scale(1.03);
}


/*-------------------------------------------------------- Main Content Styling */
.centered-container {
    margin: 0px auto;
    padding: 15px 6px 6px 6px;
    width: 78%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    background-color: #fef8f3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#profile-splash {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    padding: 0px 0px 20px 0px;
    margin: 0px auto;
}

#img-section {
    width: 100%;
    text-align: right;
}

#prof-img {
    width: 350px;
    border-radius: 45%;
    transition: transform 0.35s ease;;
}

#prof-img:hover {
    transform: scale(1.04);
}

#about-section {
    width: 430px;
}

#about-title,
#about-description {
    text-align: left;
    width: 100%;
    margin: 0px auto;
}

#about-title {
    padding: 100px 0px 4px 4px;
}

#about-description {
    padding-left: 15px;
    margin-right: 3px;
}

#about-text {
    padding-left: 18px;
    text-align: justify;
    margin-right: 20px;
}



/*-------------------------------------------------------- Display Area Styling */
#main-card {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    margin: 14px auto;
    padding: 5px 0px 30px 0px;
    width: 83%;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    text-align: center;
}

/* Styling for individual cards */
.card {
    margin: 15px auto;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    width: 60%;
}

/* Hover effect for cards */
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descriptions {
    padding: 0px;
    margin: 0px auto;
    width: 90%;
    text-align: left;
}

.descriptions li {
    padding: 5px;
}


.pdf {
    margin: auto;
    text-align: center;
    width: 90%;
    aspect-ratio: 4 / 3;
}

/*-------------------------------------------------------- Footer Styling */
footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%);
    color: white;
    font-size: 14px;
    position: relative;
}

/* Social Media Links */
.social-links {
    margin-top: 10px;
}

.social-links a {
    color: white;
    font-size: 24px; /* Icon size */
    margin: 0 15px; /* Spacing between icons */
    transition: color 0.3s ease, transform 0.1s ease;
    text-decoration: none;
    display: inline-block;
}

/* Hover Effect */
.social-links a:hover {
    color: var(--main-hover-color);
    transform: scale(1.2); /* Slightly enlarges icons */
}

.social-links #insta:hover {
    color: var(--main-selected-color);
    transform: scale(1.2); 
}

.social-links #bluesky:hover {
    color: var(--main-selected-color);
    transform: scale(1.2); 
}

/*-------------------------------------------------------- Responsive Design */

@media (max-width: 980px) {

    #profile-splash {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        margin: 0px auto;
    }
    
    #img-section {
        width: 100%;
        text-align: center;
    }

    #about-title {
        padding: 20px 0px 4px 4px;
    }

    /* Stack cards vertically for small screens in the display area */
    #display-area {
        grid-template-columns: 1fr; /* 1 column layout for small screens */
    }

    #about-title,
    #about-description {
        text-align: center;
        width: 100%;
        margin: 0px auto;
    }

    #main-card {
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        margin: 5px auto;
        padding: 5px 0px 30px 0px;
        width: 97%;
        grid-template-columns: repeat(1, 1fr);
        border: 1px solid #ccc;
        border-radius: 10px;
        color: black;
        background-color: var(--main-bg-color);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
        text-align: center;
    }

    /* Styling for individual cards */
    .card {
        margin: 15px auto;
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.3s ease;
        width: 85%;
    }

}

@media (max-width: 780px) {
    .centered-container {
        margin: 0px auto;
        padding: 4px;
        width: 100%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        flex: 1;
        background-color: #fef8f3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #prof-img {
        width: 70%;
        border-radius: 45%;
        transition: transform 0.35s ease;;
    }

    #about-section {
        width: 100%;
        margin: 1px auto;
    }

    #about-title,
    #about-description {
        text-align: center;
        width: 100%;
        margin: 0px auto;
    }
}