/* Modal */
.modal {
    display:none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: red;
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%; /* Width of the modal */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: modalFadeIn 0.3s ease-in-out;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Modal Fade-in Animation */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}